@import url(//fonts.googleapis.com/css?family=Lato:300:400);

body {
  margin: 0;
}

.imgPres {
  width: 20vw;
  margin: 1rem 0;
}

.tituloPres {
  font-size: 72px !important;
  font-family: sans-serif;
  font-weight: 500;
  line-height: 1.125;
}
@media screen and (min-width: 1024px) {
  .tituloPres {
    font-size: 3rem;
    font-family: sans-serif;
  }
}

@media screen and (min-width: 769px) {
  tituloPres {
    font-size: 2.5rem;
    font-family: sans-serif;
  }
}

.subtitulo {
  font-family: sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.5;
}

.container-pre {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}

.wd {
  src: url("../../img/extras/wd1.svg");
}

h1 {
  font-family: "Work Sans", sans-serif !important;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 48px;
}
p {
  font-family: "Lato", sans-serif;
  letter-spacing: 1px;
  font-size: 14px;
  color: #333333;
}

.header {
  position: relative;
  text-align: center;
  /* background: linear-gradient(
    60deg,
    rgba(84, 58, 183, 1) 0%,
    rgba(0, 172, 193, 1) 100%
  ); */
  background-image: url("../../img/nochesinNiebla.jpg");
  /* background-repeat: no-repeat; */
  color: white;
}
.container-img {
  display: flex;
  position: relative;
  justify-content: center;
  align-content: center;
}

.imagen-presentacion {
  flex: none !important;
  width: 32vw;
  height: 100%;
  min-width: none;
  min-height: none;
}

.inner-header {
  height: 65vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.tituloPresentacion {
  font-family: "Work Sans", sans-serif !important;
}

.flex {
  /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px; /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}

.content {
  position: relative;
  height: 20vh;
  text-align: center;
  background-color: white;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
  .content {
    height: 30vh;
  }
  h1 {
    font-size: 24px;
  }
}
